* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  width: 100vw;
  height: 100vh;

  background: purple;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  & > * {

    margin:auto;

  }
}
